* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%; }

@media screen and (max-width: 321px) {
  .m-navlist {
    font-size: 15px; } }
@media screen and (min-width: 321px) and (max-width: 400px) {
  .m-navlist {
    font-size: 16px; } }
@media screen and (min-width: 400px) {
  .m-navlist {
    font-size: 18px; } }
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.18rem;
  border-bottom: 1px solid #DCDCDC; }
  header > div:nth-of-type(1) {
    width: 32%; }
    header > div:nth-of-type(1) img {
      width: 100%; }
  header > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center; }
    header > div:nth-of-type(2) .icon-nav {
      font-size: 16.5px;
      color: #999999;
      margin-bottom: 0.17rem; }
    header > div:nth-of-type(2) > span:nth-of-type(2) {
      color: #999;
      font-size: 11px; }
  header .ji {
    font-size: 18px;
    color: #000; }

.min {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.36rem; }
  .min > div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .min > div > span:nth-of-type(1) {
      font-size: 19px;
      border-radius: 50%;
      background: #dcdcdc;
      color: white;
      padding: 0.22rem 0.13rem 0 0.13rem; }
    .min > div > span:nth-of-type(2) {
      margin-left: 0.2rem;
      font-size: 14px;
      color: #39c894; }

.dat {
  font-size: 14px;
  color: #999; }

.ping {
  font-size: 18px;
  color: #000;
  padding: 0 0 0.36rem 0.36rem; }

.ye {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #eaeaea;
  margin: 0.36rem 0.22rem; }
  .ye > div:nth-of-type(1) {
    width: 33.3%;
    background: #39c894;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 0.22rem 0; }
  .ye > div:nth-of-type(2) {
    width: 33.3%;
    text-align: center;
    font-size: 18px;
    padding: 0.22rem 0; }
  .ye > div:nth-of-type(3) {
    width: 33.3%;
    background: #39c894;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 0.22rem 0; }

footer {
  position: relative; }

.fan {
  width: 47px;
  height: 47px;
  position: absolute;
  right: 0.18rem;
  top: 2rem;
  border-radius: 50%;
  border: 1px solid #dedede;
  display: flex;
  justify-content: center; }
  .fan > span {
    line-height: 47px;
    font-size: 20px;
    color: #9c9c9c; }

.pen {
  width: 0.94rem;
  height: 0.94rem;
  position: absolute;
  right: 0.18rem;
  top: 0.8rem;
  border-radius: 50%;
  border: 1px solid #dedede;
  display: flex;
  justify-content: center;
  background: dodgerblue;
  box-shadow: 3px 3px 3px #CCCCCC; }
  .pen > span {
    line-height: 47px;
    font-size: 23px;
    color: white; }

.chu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 14px; }
  .chu > span:nth-of-type(1) {
    color: #39c894; }
  .chu > span:nth-of-type(2), .chu > span:nth-of-type(3), .chu > span:nth-of-type(4) {
    color: #333; }

.zhuang {
  width: 100%;
  background: #000;
  position: relative;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .zhuang > div:nth-of-type(1) {
    padding: 0.26rem; }
    .zhuang > div:nth-of-type(1) > span {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      font-size: 15px;
      color: white;
      background: #39c894;
      border-bottom-right-radius: 88%; }
  .zhuang > div:nth-of-type(2) {
    width: 50%; }
    .zhuang > div:nth-of-type(2) > img {
      width: 100%; }
  .zhuang > div:nth-of-type(3) {
    color: white;
    background: #feb605;
    font-size: 12px;
    padding: 0.13rem 0.17rem;
    border-radius: 12px; }

.p1 {
  text-align: center; }
  .p1 > span:nth-of-type(1) {
    color: limegreen;
    font-size: 16px; }
  .p1 > span:nth-of-type(2) {
    color: #333;
    font-size: 14px; }

.jie {
  font-size: 14px;
  line-height: 0.5rem;
  color: #333;
  text-indent: 2em;
  padding: 0.27rem 0.18rem;
  border-top: 0.15rem solid #eaeaea;
  border-bottom: 0.15rem solid #eaeaea; }

/*# sourceMappingURL=18.css.map */
