* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none; }

/*img {
  //width: 100%;
}*/
button {
  display: inline-block;
  width: 100%;
  font-size: .48rem;
  border-radius: 4px;
  padding: .2rem 0; }

a:hover, a:focus {
  text-decoration: none; }

.shouye header {
  padding: .21rem .24rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .shouye header img {
    width: 30%; }
  .shouye header .head-right {
    display: flex;
    flex-direction: column; }
    .shouye header .head-right div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 .1rem; }
      .shouye header .head-right div span {
        color: #999; }
      .shouye header .head-right div span:nth-of-type(1) {
        margin: 0 30px;
        font-size: .6rem; }
      .shouye header .head-right div span:nth-last-of-type(1) {
        font-size: .44rem; }
    .shouye header .head-right div:nth-of-type(2) span {
      font-size: .29rem; }
.shouye .swiper1 .swiper-slide img {
  width: 100%; }
.shouye .swiper1 .swiper-pagination-bullet {
  background: #7c7c7c !important;
  opacity: 1 !important; }
.shouye .swiper1 .swiper-pagination-bullet-active {
  background: #00be9c !important; }
.shouye nav {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between; }
  .shouye nav .nav-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-top: .38rem;
    height: 3.68rem;
    justify-content: space-between; }
    .shouye nav .nav-a div {
      width: 2.5rem;
      height: 2.5rem;
      background: #39C893;
      border-radius: 50%;
      border: 1px solid transparent;
      text-align: center;
      line-height: 2.5rem; }
      .shouye nav .nav-a div span {
        display: inline-block;
        font-size: 1.4rem;
        color: #FFF; }
    .shouye nav .nav-a span {
      font-size: .59rem; }
  .shouye nav .nav-a:nth-of-type(2) div {
    background: #FEB605; }
  .shouye nav .nav-a:nth-of-type(3) div {
    background: #EDD415; }
  .shouye nav .nav-a:nth-of-type(4) div {
    background: #00B3B2; }
  .shouye nav .nav-a:nth-of-type(5) div {
    background: #1B9BF7; }
  .shouye nav .nav-a:nth-of-type(6) div {
    background: #7A73E8; }
  .shouye nav .nav-a:nth-of-type(7) div {
    background: #FF4450; }
  .shouye nav .nav-a:nth-of-type(8) div {
    background: #FD8963; }
  .shouye nav .nav-a:nth-of-type(n+5) {
    margin: 1.09rem 0 .84rem; }
.shouye article {
  padding: 0 .46rem; }
  .shouye article .bT {
    border-left: 5px solid #38C993;
    height: .88rem;
    font-size: .76rem;
    margin: .67rem 0;
    letter-spacing: .1rem;
    text-indent: .2rem; }
    .shouye article .bT span {
      font-size: .5rem;
      color: #999; }
  .shouye article .swiper2 {
    padding-bottom: .76rem; }
    .shouye article .swiper2 .swiper2-pa {
      bottom: 0 !important; }
  .shouye article .ar-bT {
    display: flex;
    margin-bottom: .76rem; }
    .shouye article .ar-bT div {
      display: flex;
      align-items: center;
      margin-right: .8rem; }
      .shouye article .ar-bT div span:nth-of-type(1) {
        font-size: .76rem;
        color: #39C994; }
      .shouye article .ar-bT div span:nth-of-type(2) {
        text-indent: .25rem;
        font-size: .59rem; }
    .shouye article .ar-bT div:nth-last-of-type(1) {
      margin-right: 0 !important; }
.shouye .order {
  padding: 0 .46rem .8rem; }
  .shouye .order .bT {
    border-left: 5px solid #38C993;
    height: .88rem;
    font-size: .76rem;
    margin: .67rem 0;
    letter-spacing: .1rem;
    text-indent: .2rem; }
    .shouye .order .bT span {
      font-size: .5rem;
      color: #999; }
  .shouye .order input {
    width: 100%;
    height: 1.5rem;
    border: 1px solid #eaeaea;
    border-radius: .1rem;
    padding: 0 1rem;
    font-size: .6rem;
    margin-top: .5rem; }
  .shouye .order .btn {
    font-size: .8rem;
    color: #FFF;
    background: #FEB605; }
  .shouye .order ::-webkit-input-placeholder {
    font-size: .6rem; }
.shouye .stylist {
  padding: 0 .46rem .8rem; }
  .shouye .stylist .bT {
    border-left: 5px solid #38C993;
    height: .88rem;
    font-size: .76rem;
    margin: .67rem 0;
    letter-spacing: .1rem;
    text-indent: .2rem; }
  .shouye .stylist .stylist-content {
    display: flex;
    justify-content: space-between; }
    .shouye .stylist .stylist-content .stylist-cont-a {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .shouye .stylist .stylist-content .stylist-cont-a div {
        width: 2.9rem;
        height: 2.9rem;
        border-radius: 50%;
        background: green; }
      .shouye .stylist .stylist-content .stylist-cont-a span:nth-of-type(1) {
        font-size: .8rem;
        margin: .5rem 0 .3rem; }
      .shouye .stylist .stylist-content .stylist-cont-a span:nth-of-type(2) {
        width: 2.5rem;
        height: .7rem;
        font-size: .5rem;
        background: #39C893;
        color: #FFF;
        margin-bottom: .8rem;
        text-align: center;
        border-radius: .1rem; }
  .shouye .stylist .stylist-bottom {
    display: flex;
    align-items: center; }
    .shouye .stylist .stylist-bottom div {
      height: 1.5rem;
      color: #38C993;
      width: 50%;
      text-align: center;
      border: 1px solid #999; }
      .shouye .stylist .stylist-bottom div button {
        color: #38C993;
        background: transparent;
        font-size: .6rem; }
      .shouye .stylist .stylist-bottom div span {
        font-size: .6rem; }
.shouye .effect {
  padding: 0 .46rem .8rem; }
  .shouye .effect .bT {
    border-left: 5px solid #38C993;
    height: .88rem;
    line-height: .88rem;
    font-size: .76rem;
    margin: .67rem 0;
    letter-spacing: .1rem;
    text-indent: .2rem; }
  .shouye .effect .effect-content .effect-t {
    height: 10.7rem;
    position: relative;
    background: #999; }
    .shouye .effect .effect-content .effect-t span {
      display: inline-block;
      width: 1.5rem;
      height: .9rem;
      opacity: .5;
      background: #000;
      position: absolute;
      bottom: .2rem;
      right: .2rem;
      font-size: .5rem;
      color: #FFF;
      text-align: center;
      line-height: .9rem;
      border-radius: .1rem; }
  .shouye .effect .effect-content .effect-b {
    display: flex;
    flex-wrap: wrap; }
    .shouye .effect .effect-content .effect-b div {
      width: 7.4rem;
      height: 4.9rem;
      margin-top: .2rem;
      background: #999;
      position: relative; }
      .shouye .effect .effect-content .effect-b div span {
        display: inline-block;
        width: 1.5rem;
        height: .9rem;
        opacity: .5;
        background: #000;
        position: absolute;
        bottom: .2rem;
        right: .2rem;
        font-size: .5rem;
        color: #FFF;
        text-align: center;
        line-height: .9rem;
        border-radius: .1rem; }
    .shouye .effect .effect-content .effect-b div:nth-of-type(even) {
      margin-left: .2rem; }
  .shouye .effect .effect-bottom {
    display: flex;
    align-items: center;
    margin-top: .8rem; }
    .shouye .effect .effect-bottom div {
      height: 1.5rem;
      color: #38C993;
      width: 50%;
      text-align: center;
      border: 1px solid #999; }
      .shouye .effect .effect-bottom div button {
        color: #38C993;
        background: transparent;
        font-size: .6rem; }
      .shouye .effect .effect-bottom div span {
        font-size: .6rem; }
.shouye .site {
  padding: 0 .46rem .8rem; }
  .shouye .site .bT {
    border-left: 5px solid #38C993;
    height: .88rem;
    line-height: .88rem;
    font-size: .76rem;
    margin: .67rem 0;
    letter-spacing: .1rem;
    text-indent: .2rem; }
  .shouye .site .site-content div {
    width: 15rem;
    height: 11rem;
    background: #999; }
  .shouye .site .site-content p {
    margin: .3rem 0 .5rem;
    font-size: .6rem; }
    .shouye .site .site-content p span {
      background: #38C993;
      color: #FFF;
      display: inline-block;
      border-radius: .2rem;
      padding: 0 .1rem;
      margin-left: 1rem; }
  .shouye .site .site-bottom {
    display: flex;
    align-items: center; }
    .shouye .site .site-bottom div {
      height: 1.5rem;
      color: #38C993;
      width: 50%;
      text-align: center;
      border: 1px solid #999; }
      .shouye .site .site-bottom div button {
        color: #38C993;
        background: transparent;
        font-size: .6rem; }
      .shouye .site .site-bottom div span {
        font-size: .6rem; }
.shouye .finish {
  padding: 0 .46rem .8rem; }
  .shouye .finish .bT {
    border-left: 5px solid #38C993;
    height: .88rem;
    line-height: .88rem;
    font-size: .76rem;
    margin: .67rem 0;
    letter-spacing: .1rem;
    text-indent: .2rem; }
  .shouye .finish .finish-content .finish-cont-a {
    display: flex;
    padding: 0 0 .6rem;
    border-bottom: 1px solid #999; }
    .shouye .finish .finish-content .finish-cont-a .finish-cont-l {
      width: 4rem;
      height: 3rem;
      background: #999; }
    .shouye .finish .finish-content .finish-cont-a .finish-cont-r {
      margin-left: .5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 10.7rem; }
      .shouye .finish .finish-content .finish-cont-a .finish-cont-r p {
        font-size: .76rem; }
      .shouye .finish .finish-content .finish-cont-a .finish-cont-r div {
        display: flex; }
        .shouye .finish .finish-content .finish-cont-a .finish-cont-r div p span {
          font-size: .6rem;
          color: #999; }
        .shouye .finish .finish-content .finish-cont-a .finish-cont-r div p span:nth-of-type(2) {
          margin-left: .3rem; }
        .shouye .finish .finish-content .finish-cont-a .finish-cont-r div p:nth-of-type(1) {
          margin-right: 1.6rem; }
  .shouye .finish .finish-content .finish-cont-a:nth-of-type(n+1) {
    margin-top: .7rem; }
  .shouye .finish .finish-bottom {
    display: flex;
    align-items: center; }
    .shouye .finish .finish-bottom div {
      height: 1.5rem;
      color: #38C993;
      width: 50%;
      text-align: center;
      border: 1px solid #999; }
      .shouye .finish .finish-bottom div button {
        color: #38C993;
        background: transparent;
        font-size: .6rem; }
      .shouye .finish .finish-bottom div span {
        font-size: .6rem; }

.txt {
  font-size: .37rem;
  padding: .48rem .2rem;
  text-indent: 1rem;
  line-height: .7rem;
  color: #333; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  footer .footer-t {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem; }
    footer .footer-t span {
      font-size: .37rem;
      color: #333; }
    footer .footer-t span:nth-of-type(1) {
      font-size: .43rem;
      color: #38C993; }
  footer .footer-b {
    display: flex;
    justify-content: space-around; }
    footer .footer-b span {
      font-size: .4rem;
      color: #333; }
    footer .footer-b span:nth-of-type(1) {
      color: #38C993; }

.fix {
  border: 1px solid #dedede;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  right: .2rem;
  background: #FFF; }
  .fix span {
    color: #9c9c9c;
    font-size: .8rem; }

.advertising {
  display: flex;
  align-items: center;
  background: #000 url("img/quoten_bottom.png") no-repeat;
  background-position: 20% top;
  opacity: .8;
  height: 2.2rem;
  width: 100%;
  position: fixed;
  bottom: 0; }
  .advertising li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    font-size: .5rem;
    padding: .1rem;
    border-bottom-right-radius: 100%;
    background: #38C993; }
    .advertising li span {
      font-size: .5rem;
      color: #FFF; }
  .advertising button {
    color: #FFF;
    background: #FBB405;
    position: absolute;
    right: 5%;
    z-index: 4;
    width: 3.6rem;
    height: 1.1rem;
    border-radius: .5rem;
    font-size: .5rem; }

.fix1 {
  border: 1px solid #dedede;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  right: .02rem;
  background: #FFF; }
  .fix1 span {
    color: #9c9c9c;
    font-size: .53rem; }

.advertising1 {
  display: flex;
  align-items: center;
  background: #000 url("img/quoten_bottom.png") no-repeat;
  background-position: 20% top;
  opacity: .8;
  height: 1.41rem;
  width: 100%;
  position: fixed;
  bottom: 0; }
  .advertising1 li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    font-size: 24px;
    padding: .01rem .1rem .1rem .01rem;
    border-bottom-right-radius: 100%;
    background: #38C993; }
    .advertising1 li span {
      font-size: .32rem;
      color: #FFF; }
  .advertising1 button {
    color: #FFF;
    background: #FBB405;
    position: absolute;
    right: 5%;
    z-index: 4;
    width: 2.33rem;
    height: .67rem;
    border-radius: .5rem;
    font-size: .32rem; }

.fifteen header {
  padding: .21rem .24rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .fifteen header img {
    width: 30%; }
  .fifteen header .head-right {
    display: flex;
    flex-direction: column; }
    .fifteen header .head-right div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 .1rem; }
      .fifteen header .head-right div span {
        color: #999; }
      .fifteen header .head-right div span:nth-of-type(1) {
        margin: 0 30px;
        font-size: .6rem; }
      .fifteen header .head-right div span:nth-last-of-type(1) {
        font-size: .44rem; }
    .fifteen header .head-right div:nth-of-type(2) span {
      font-size: .29rem; }
  .fifteen header .tt {
    font-size: .48rem; }
.fifteen .img {
  width: 100%; }
.fifteen .hr .tt {
  font-size: .48rem;
  text-align: center;
  padding: .48rem 0; }
.fifteen .hr p:nth-last-of-type(1) {
  height: 1px;
  width: 100%;
  border: 1px solid #d7d7d7;
  position: relative; }
  .fifteen .hr p:nth-last-of-type(1) span {
    position: absolute;
    left: 42%;
    top: -.2rem;
    padding: 0 .33rem;
    background: #FFF; }
.fifteen .form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0.48rem auto 0.645rem; }
  .fifteen .form input {
    height: .73rem;
    border: 1px solid #eaeaea;
    font-size: .35rem;
    text-indent: 1em; }
  .fifteen .form ::-webkit-input-placeholder {
    font-size: .35rem; }
  .fifteen .form div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .fifteen .form div select {
      height: .73rem;
      padding: 0 .33rem;
      font-size: .35rem;
      border: 1px solid #eaeaea;
      margin-top: .33rem; }
    .fifteen .form div select:nth-of-type(1) {
      width: 100%; }
    .fifteen .form div select:nth-of-type(n+2) {
      width: 48%; }
    .fifteen .form div select:nth-of-type(n+4) {
      width: 30%; }
  .fifteen .form button {
    background: #FEB605;
    margin-top: .33rem;
    color: #FFF; }
.fifteen .offer {
  border: 1px dashed #38C993;
  position: relative;
  margin: 0 0 .67rem; }
  .fifteen .offer .off-t {
    display: inline-block;
    position: absolute;
    left: 36%;
    top: -.3rem;
    padding: 0 .33rem;
    background: #FFF;
    color: #000;
    font-size: .48rem; }
  .fifteen .offer .off-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.91rem 0 0.33rem;
    padding: 0 .8rem; }
    .fifteen .offer .off-c li .red {
      color: red; }
    .fifteen .offer .off-c li .yello {
      color: #FEC134; }
    .fifteen .offer .off-c li:nth-of-type(2) {
      margin-top: .87rem; }
    .fifteen .offer .off-c li:nth-of-type(3) {
      margin: .48rem 0; }
    .fifteen .offer .off-c button {
      background: transparent;
      border: 1px solid #38C993;
      color: #38C993; }
.fifteen .provide {
  padding: .67rem .2rem; }
  .fifteen .provide li {
    text-align: center;
    font-size: .48rem;
    margin-bottom: .62rem; }
  .fifteen .provide .tb {
    height: 1px;
    width: 100%;
    border: 1px solid #d7d7d7;
    position: relative;
    margin-bottom: .62rem; }
    .fifteen .provide .tb span {
      position: absolute;
      left: 42%;
      top: -.2rem;
      padding: 0 .33rem;
      background: #FFF; }
  .fifteen .provide .provide-c {
    display: flex;
    flex-wrap: wrap; }
    .fifteen .provide .provide-c div {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid #eaeaea;
      padding-bottom: .4rem; }
      .fifteen .provide .provide-c div p:nth-of-type(1) {
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 50%;
        background: #38C993;
        display: flex;
        align-items: center;
        justify-content: center; }
        .fifteen .provide .provide-c div p:nth-of-type(1) .icon {
          font-size: .8rem;
          color: #FFF; }
      .fifteen .provide .provide-c div p:nth-of-type(2) {
        font-size: .37rem; }
      .fifteen .provide .provide-c div p:nth-of-type(3) {
        font-size: .32rem;
        color: #666;
        text-align: center; }
    .fifteen .provide .provide-c div:nth-of-type(3n+0) {
      border: none; }
    .fifteen .provide .provide-c div:nth-of-type(n+4) {
      border-top: 1px solid #eaeaea;
      padding-top: .5rem; }

/*# sourceMappingURL=first.css.map */
