@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.18rem;
    >div:nth-of-type(1){
        width: 32%;
        img{
            width: 100%;
        }
    }
    >div:nth-of-type(2){
        width: 19%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        >div{
            display: flex;
            flex-direction: column;
            align-items: center;
            .icon-user{
                font-size: 0.45rem;
                color: #999999;
                margin-bottom: 0.08rem;
            }
            .icon-nav{
                font-size: 0.45rem;
                color: #999999;
                margin-bottom: 0.08rem;
            }
            >span:nth-of-type(2){
                color: #999;
                font-size: 0.22rem;
            }
        }
    }
    .ji{
        font-size: 0.33rem;
    }
}
.banner{
    width: 100%;
    img{
        width: 100%;
    }
}
.little_s{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.32rem 0.18rem;
    >span:nth-of-type(1),>span:nth-last-of-type(1){
        width: 42%;
        border: 1px solid #DCDCDC;
        background: #DCDCDC;
    }
    >span:nth-of-type(2),>span:nth-of-type(3),>span:nth-of-type(4){
        width: 0.16rem;
        height: 0.16rem;
        border: 0.03rem solid #39C894;
        transform: rotate(45deg);
    }
}
.little_a{
    font-size: 0.28rem;
    color: #333;
    padding: 0 0.18rem;
    text-indent: 2em;
    line-height: 0.5rem;
    padding-bottom: 0.38rem;
}
.devi{
    width: 100%;
    >img{
        width: 100%;
    }
}
footer{
    position: relative;
}
.fan{
    width: 0.94rem;
    height: 0.94rem;
    position: absolute;
    right: 0.18rem;
    top: 0rem;
    border-radius: 50%;
    border: 1px solid #dedede;
    display: flex;
    justify-content: center;
    >span{
        line-height: 0.94rem;
        font-size: 0.4rem;
        color: #9c9c9c;
    }
}
.chu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 0.28rem;
    >span:nth-of-type(1){
        color: #39c894;
    }
    >span:nth-of-type(2),>span:nth-of-type(3),>span:nth-of-type(4){
        color: #333;
    }
}
.p1{
    text-align: center;
    >span:nth-of-type(1){
        color: limegreen;
        font-size: 0.28rem;
    }
    >span:nth-of-type(2){
        color: #333;
        font-size: 0.28rem;
    }
}
.bot{
    font-size: 0.26rem;
    color: #CCCCCC;
    text-align: center;
    padding: 0.36rem 0;
}
