@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
//  color:cyan;
}
.a{
    overflow:hidden;
}
header{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >div:nth-of-type(1){
        width:45%;
        >img{
            width:80%;
            margin: 0.16rem 0rem 0.16rem 0.18rem; 
        }
    }
    >div:nth-of-type(2){
        witdh:35%;
        font-size: 0.34rem;
        margin:0.3rem 0.1rem 0.3rem 0.2rem;
        font-weight: bold;
     }
     >div:nth-of-type(3){
        witdh:20%;
        margin-left:0.2rem;
        display: flex;
        width: 18%;
        text-align: center;
        justify-content: space-between;
        font-size: 0.22rem;
        color: #999;      
        >p{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            >span:nth-child(1){
                font-size: 0.45rem;
                display: inline-block;
                margin-top: -0.2rem;  
            }
            >span:nth-child(2){
               display: inline-block;
//             
            }
        }
    }
   } 
   .banner{
        position: relative;
        width: 100%;
       >img{
           width:100%;
       }
       >img:nth-child(2){
           margin-top: -3.7%;
       }
       >img:nth-child(3){
           margin-top: -3.7%;
       }
       >img:nth-child(4){
           margin-top: -3.7%;
       }
       p{
           position: absolute;
           font-size:0.28rem;
           color:#000;
       }
       p:nth-child(1){
        top: 9.95%;
        left: 12%;
        color: #ff4351;
        font-size: 0.36rem;
        }
        p:nth-child(2){
        top: 14.8%;
        left: 24%;
        color: #000;
        font-size: 0.28rem;
        }
        p:nth-child(3){
        top: 20.2%;
        right: 24%;
        color: #000;
        font-size: 0.28rem;
        }
        p:nth-child(4){
        top: 25.5%;
        left: 24%;
        color: #000;
        font-size: 0.28rem;
        }
        p:nth-child(5){
        top: 30.8%;
        right: 24%;
        color: #000;
        font-size: 0.28rem;
        }
        p:nth-child(6){
        top: 39%;
        right: 18%;
        color: #10A0EA;
        font-size: 0.36rem;
        }
        p:nth-child(7){
        top: 44%;
        right: 22%;
        color: #000;
        font-size: 0.28rem;
        }
        p:nth-child(8){
        top: 49.5%;
       left: 22%;
        color: #000;
        font-size: 0.28rem;
        }
        p:nth-child(9){
        top: 54.9%;
        right: 22.4%;
        color: #000;
        font-size: 0.28rem;
        }
        p:nth-child(10){
        top: 60.4%;
        left: 21.8%;
        color: #000;
        font-size: 0.28rem;
        }
        p:nth-child(11){
        top:69%;
        left: 16%;
        color: #7B72E9;
        font-size: 0.36rem;
        }
        p:nth-child(12){
        top: 74%;
       left: 22%;
        color: #000;
        font-size: 0.28rem;
        }
        p:nth-child(13){
        top: 79%;
        right:22%;
        color: #000;
        font-size: 0.28rem;
        }
        p:nth-child(14){
        top: 84.6%;
        left: 22%;
        color: #000;
        font-size: 0.28rem;
        }
        p:nth-child(15){
        top: 89.6%;
        right: 22%;
        color: #000;
        font-size: 0.28rem;
        }
        
        
    }   
.footer{
    color:#666666;  
    font-size:0.3rem;
    >div:nth-child(1){
         border-top:0.2rem solid #F4F4F4;
        text-indent: 0.5rem;
        padding: 0.3rem;  
       
    }
    >div:nth-child(2){
         border-top:0.2rem solid #F4F4F4;
        >p:nth-child(1){
            text-align: center;
            padding: 0.2rem;    
        }
        >ul:nth-child(2){
           display: flex;
           justify-content: space-around; 
            padding: 0.2rem;    
           li:nth-child(1){
               color:#2bb281;
           }
        }
        >p:nth-child(3){
            text-align: center;
            font-size: 0.28rem; 
        }
       
    }
    >div:nth-child(3){
        background: #000;
        display: flex;
        >p:nth-child(2){
            >img{
                width: 100%;   
            }
        }
        >p:nth-child(3){
            width:30%;
            height:0.5rem;
            line-height: 0.5rem;
            background:#FEB505;
            color:white;
            border-radius: 2rem;
            text-align: center;
            margin: 0.3rem 0.4rem;
            font-size:0.24rem ;
        }
    }
    
}
